{{ define "bodyclass" }}page type-404{{ end }}
{{ define "main" }}
<div class='entry'>
  <div class='container entry-content'>
    <span class='screen-reader-text'>Nothing&#39;s here!</span>
    <figure class='gopher'>
      <a href='/'>
        <img src='/assets/gopher.png' alt='Gopher'/>
        <span class='screen-reader-text'>Go Home...</span>
      </a>
      <figcaption>
        <h1 class='title'>
          <a href='/'>Nothing&#39;s here!</a>
        </h1>
      </figcaption>
    </figure>
  </div>
</div>
{{ end }}
